<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.comicexchange">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LogInActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ExplorerNewsActivity" />
        <activity android:name=".ExplorerFavorisActivity" />
        <activity android:name=".ExplorerSearchActivity" />
        <activity android:name=".ExplorerResultsActivity" />
        <activity android:name=".ExplorerDetailsActivity" />
        <activity android:name=".WishListActivity" />
        <activity android:name=".WishListEditActivity" />
        <activity android:name=".MessageListActivity" />
        <activity android:name=".MessageActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".ExchangeActivity" />
        <activity android:name=".ExchangeDetailsActivity" />
        <activity android:name=".ExchangeAddActivity" />
        <activity android:name=".ExchangeEditActivity" />
        <activity android:name=".SignInActivity"></activity>
    </application>

</manifest>